
//-------------------- Variables -------------------- //

- var siteUrl = "http://ivanjuras.com"
- var siteTitle = "IndentUI : A Web Framework With Indented Syntax"


//-------------------- Feed -------------------- //

doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
      atom:link(href="#{siteUrl}/feed.xml", rel="self", type="application/rss+xml")
      title #{siteTitle} 
      link #{siteUrl}
      description An RSS Feed Description
      pubDate Sun, 1 Feb 2015 21:17:00 GMT

      item
        title Indent UI 
        link #{siteUrl}
        description This is the index page
        pubDate Sun, 1 Feb 2015 21:17:00 GMT

      item
        title Page
        link #{siteUrl}/page.html
        description This is some other page
        pubDate Sun, 1 Feb 2015 21:17:00 GMT